doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='icon', href='../images/icon.png', type='text/css', charset="utf-8")
        link(rel='stylesheet', href='../styles/header.css', type='text/css', charset="utf-8")
        link(rel='stylesheet', href='../styles/global.css', type='text/css', charset="utf-8")
        link(rel='stylesheet', href='../styles/activityEvaluation.css', type='text/css', charset="utf-8")
        link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")

        script.
            $(document).ready(() => {
                $.get('/session', session => {
                    $('#username').text(session.signedInUser)
                })
            })

            $(document).on("click", "#face1", () => {
                const splitted = window.location.href.split("/")
                let id = splitted[splitted.length - 1]
                $.post("/evaluate", {id: id, eval: 1})
                alert("Activity evaluation submited succesfully.")
            })

            $(document).on("click", "#face2", () => {
                const splitted = window.location.href.split("/")
                let id = splitted[splitted.length - 1]
                $.post("/evaluate", {id: id, eval: 2})
                alert("Activity evaluation submited succesfully.")
                window.location.href("/activityList.html")
            })

            $(document).on("click", "#face3", () => {
                const splitted = window.location.href.split("/")
                let id = splitted[splitted.length - 1]
                $.post("/evaluate", {id: id, eval: 3})
                alert("Activity evaluation submited succesfully.")
            })

            $(document).on("click", "#face4", () => {
                const splitted = window.location.href.split("/")
                let id = splitted[splitted.length - 1]
                $.post("/evaluate", {id: id, eval: 4})
                alert("Activity evaluation submited succesfully.")
            })

            $(document).on("click", "#face5", () => {
                const splitted = window.location.href.split("/")
                let id = splitted[splitted.length - 1]
                $.post("/evaluate", {id: id, eval: 5})
                alert("Activity evaluation submited succesfully.")
            })

        title Evaluate Activity - Chronify
    body
        div(class="header")
            img(id="logo", src="../images/logo.png", alt="logo")
            ul
                li 
                    a(class="headerLink" href="/graph.html") Dashboard
                li 
                    a(class="headerLink" href="/" target="_self") Mis Actividades
                li
                    a(class="headerLink" id="selectedView" href="/activityList.html" target="_self") Evaluar actividades

            div(id="userSection")
                img(id="userIcon", src="../images/icons8-user-80.png", alt="user icon")
                div(id="userOptions")
                    a(id="username" class="headerLink")
                    a(class="headerLink" href="/signout") Sign Out

        h1 #{activityTitle}
        h4 #{date}
        h4 #{startTime} - #{endTime}

        div(class="rating")
            p Rate the productivity of this event
            img(src="../images/face5.png", alt="face" id="face5")
            img(src="../images/face4.png", alt="face" id="face4")
            img(src="../images/face3.png", alt="face" id="face3")
            img(src="../images/face2.png", alt="face" id="face2")
            img(src="../images/face1.png", alt="face" id="face1")
        

