body {
    background: var(--bg-dark);
    font-family: 'Montserrat';
    color: white;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 48px;
}


.rating {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
    border-radius: 40px;
    background: var(--bg-medium);
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}

.rating p {
    font-size: 20px;
}

.rating img:hover {
    cursor: pointer;
}