body {
    background: var(--bg-dark);
    font-family: 'Montserrat';
    color: white;
    margin: 0px;
}

.activitiesColumns {
    display: flex;
    padding: 20px;
}

.readyColumn {
    flex: 1;
    background: var(--bg-medium);
    margin: 5px;
}

.readyColumn h2 {
    text-align: center;
}

.notReadyColumn {
    flex: 1;
    background: var(--bg-medium);
    margin: 5px;
}

.notReadyColumn h2 {
    text-align: center;
}

.evaluatedColumn {
    flex: 1;
    background: var(--bg-medium);
    margin: 5px;
}

.evaluatedColumn h2 {
    text-align: center;
}

#readyList {
    list-style-type: none;
}

#notReadyList {
    list-style-type: none;
}

#pastList {
    list-style-type: none;
}

ul {
    padding: 0;
}

.activitiesColumns ul li {
    margin: 20px;
    border: white solid 1px;
    padding: 0;
    border-radius: 20px;
    text-align: center;
}

ul li a {
    color: white;

}

ul li:hover {
    background: var(--bg-dark);
    cursor: pointer;
}