#scheduler_here {
    width: 100%;
    height: 92%;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden;
    /* background-color: var(--bg-dark); */
}

.dhx_cal_container.dhx_scheduler_week {
    /* Top bar*/
    background: var(--bg-dark);
}

.dhx_cal_tab.active {
    /* Selected view */
    background-color: var(--accent-dark);
}

.dhx_cal_tab,
.dhx_cal_today_button {
    /* Text in title bar */
    color: var(--accent-primary);
}

.dhx_cal_header {
    /* Week days container */
    border-top: 1px solid var(--borders);
    border-right: 1px solid var(--borders);
    border-bottom: 1px solid var(--borders);
}

.dhx_scale_bar {
    /* Week days rectangles */
    background: var(--bg-light);
    border-right: 1px solid transparent;
    border-left: 1px solid var(--borders)
}

.dhx_scale_hour {
    /* Hours rectangles */
    background: var(--bg-light);
    /* border-top: 1px solid var(--borders); */
    border-bottom: 1px solid var(--borders);
}

.dhx_scale_holder {
    /* Data holders background */
    background: var(--bg-medium);
    border-right: 1px solid var(--borders);
    /* border-top: 1px solid var(--borders) */
}

.dhx_cal_data:last-child {
    /* Hours container */
    border-top-color: var(--borders);
}

.dhx_cal_data {
    /* Little space at the end of the data */
    background: var(--bg-medium);
}

.dhx_cal_navline .dhx_cal_date {
    /* Title font color */
    color: var(--font-medium);
    font-family: montserrat;

}

.dhx_scale_h,
.dhx_scale_m,
.dhx_scale_bar {
    /* Hours and days font color */
    color: var(--font-light)
}

.dhx_cal_event .dhx_body,
.dhx_cal_event .dhx_footer,
.dhx_cal_event .dhx_header,
.dhx_cal_event .dhx_title {
    /* Events */
    background-color: var(--accent-dark);
}

.dhx_cal_event,
.dhx_cal_event_line,
.dhx_cal_event.dhx_cal_select_menu {
    /* Events shadows */
    box-shadow: 0 0 1px var(--bg-dark);
    -webkit-box-shadow: 0 0 1px var(--bg-dark)
}

.dhx_scale_holder_now {
    /* Current date */
    background-image: url(/*../images/databg_now.png*/);
    background-color: var(--bg-dark);
    border-right: 1px solid var(--borders)
}

.dhx_cal_prev_button {
    background-image: url(../images/arrow_left.png);
}

.dhx_cal_next_button {
    background-image: url(../images/arrow_right.png);
}

.dhx_month_body,
.dhx_month_head {
    /* Cells for current month */
    background-color: var(--bg-medium);
    color: var(--font-medium);
    border-right: 1px solid var(--borders);
}

.dhx_month_body {
    border-bottom: 1px solid var(--borders);
}

.dhx_cal_navline {
    /* Title bar for month view */
    background-color: var(--bg-dark);
}

.dhx_before .dhx_month_body,
.dhx_before .dhx_month_head,
.dhx_after .dhx_month_body,
.dhx_after .dhx_month_head {
    /* Cells for previous and next month */
    background-color: #5e5e5e;
}

.dhx_cal_event_clear.dhx_cal_event_line_start.dhx_cal_event_line_end {
    /* Font tweaks for events in month */
    color: var(--font-light);
    font-family: montserrat;

    
}

.dhx_cal_container.dhx_scheduler_month,
.dhx_cal_container.dhx_scheduler_day {
    /* Remainings in month view */
    background-color: var(--bg-dark);
}

.dhx_now .dhx_month_body,
.dhx_now .dhx_month_head {
    /* Current day in month view */
    background-image: url(//../images/databg_now.png);
    background-color: var(--bg-dark);
}

.dhx_cal_event_line.dhx_cal_event_line_start,
.dhx_cal_event_line.dhx_cal_event_line_end {
    /* Background for long events */
    background-color: var(--accent-dark);
    font-family: montserrat;
}

.dhx_multi_day {
    /* Background for the multiday events */
    background-color: var(--bg-medium);
    border-top: 1px solid var(--borders)
    
}

.dhx_multi_day_icon_small {
    background-color: var(--bg-light);
    border-right: 1px solid var(--borders);
    background-image: url(../images/clock.png);
}