* {
    /* --borders: #21c049; */
    --borders: #aaaaaa;
    --bg-light: #6d6d6d;
    --bg-medium: #424242;
    --bg-dark: #323234;
    --accent-light: #aab6fe;
    --accent-primary: #7986cb;
    --accent-dark: #49599a;
    --font-light: white;
    --font-medium: #bbb;
    --font-disabled: #adadad;
    font-family: montserrat;

}