.barChartContainer {
    position: relative;
    margin: 0 auto 0 auto;    
    width: 70%;
    height: 50%;
}

.barChartContainer .navigationButtons {
    position: absolute;
    right: 0;
    height: 30px;
}

.navigationButtons input {
    padding-left: 20px;
}

#chart {
    height: 300px; 
    width: 100%;
    position: absolute;
    top: 30px;
}

body {
    /* background: #323234; */
    background: var(--bg-dark);
    font-family: 'Montserrat';
    margin: 0px;
}

h1 {
    text-align: center;
    /* color: white; */
    color: var(--font-light)
}

.doughnutChartContainer {
    position: relative;
    top: 350px;
    width: 70%;
    margin-left: 15%;
    color: var(--font-light)
}

.doughnutChartContainer p {
    display: inline;
}

.container {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.quickDataContainer {
    position: relative;
    
    margin-right: 15%;
    color: var(--font-light)
}

