.header {
    position: sticky;
    background-color: var(--accent-primary);
    color: white;
    border: 1px solid transparent;
    height: 8%;
    z-index: 4;
    box-shadow: 0 2px 10px 0 rgb(0, 0, 0);
}

#userIcon {
    position: absolute;
    top: 15%;
    right: 2%;
    height: 70%;
    border-radius: 10px
}

#userIcon:hover {
    background: var(--accent-dark)
}

#userOptions {
    position: absolute;
    top: 80%;
    right: 2%;
    background: var(--accent-primary);
    visibility: hidden;
    border-radius: 10px
}

#userOptions a {
    display: block;
}

#userIcon:hover~#userOptions,
#userOptions:hover {
    visibility: visible;
}

#logo {
    position: absolute;
    top: 0%;
    left: 0%;
    max-height: 100%;
}

.header ul {
    text-align: center;
    border-width: 15px;
    border-style: solid;
    border-color: var(--accent-primary);
}

.header li {
    display: inline;
    margin-right: 30px;
}

.headerLink {
    color: #ffffff;
    text-decoration: none;
    border-width: 15px;
    border-style: solid;
    border-color: var(--accent-primary);
    border-radius: 10px;
}

.header .headerLink:hover {
    background: var(--accent-dark);
    border-color: var(--accent-dark);
}

#selectedView {
    border-bottom: 5px solid var(--font-light);
    padding: 5px
}