body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, var(--bg-dark), var(--accent-primary));
    height: 100vh;
    overflow: hidden;
}

.center {
    /* Rectangle containing the login form */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: var(--bg-medium);
    border-radius: 10px;
}

.center h1 {
    /* Title of the form */
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid var(--bg-dark);
    color: var(--font-light)
}

.center form {
    /* Actual form */
    padding: 0 40px;
    box-sizing: border-box;
}

form .textField {
    /* Text fields */
    position: relative;
    border-bottom: 2px solid transparent;
    margin: 30px 0;
}

.textField input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: white
}

.textField label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: var(--font-disabled);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.textField span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--accent-primary);
}

.textField input:focus~label,
.textField input:valid~label {
    top: -5px;
    color: var(--accent-light)
}

.textField input:focus~span::before,
.textField input:valid~span::before {
    width: 100%
}

input[type="submit"] {
    /* Button to login */
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: var(--accent-primary);
    border-radius: 20px;
    font-size: 18px;
    color: #e9f4fb;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    /* Button to login on hover */
    border-color: var(--accent-primary);
    transition: .5s;
}

.signupLink {
    /* Sign up text */
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: var(--font-medium);
}

.signupLink a {
    color: var(--accent-light);
    text-decoration: none;
}

.signupLink a:hover {
    text-decoration: underline;
}

#errorMessage {
    color: red;
    text-align: center;
}